.step {
    background-color: rgb(11, 35, 99);
    color: rgb(255,255,255);
    padding: 10px;
}

    .step.current {
        background-color: rgb(211, 221, 246);
        color: rgb(36, 36, 36);
    }

    .step > h3 {
        font-size: 1.3em;
        margin: 0px;
    }

        .step > h3 > span.completed {
            font-size: 1em;
            margin-left: 5px;
        }

    .step > .container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-top: 10px;
    }

        .step > .container > .content {
            padding: 0px;
        }

@media screen and (max-width: 790px) {
    .step > .container {
        flex-flow: column;
    }

        .step > .container > .buttons {
            margin-top: 10px;
        }
}
