@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/lechediaz/xlsx-comparer" target="_blank">Repositorio</a>
            <a href="https://apps.lechediaz.com/xlsx_comparer/privacy_policy.html" target="_blank">Política de privacidad</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
